# Light Submodules
#----------------------
ovl-*

# Shared external
#----------------------
shared-*


# System
#----------------------
*.log
.vscode
build
dpd
external
lost+found
*~
~*

# MkDocs
#----------------------
site/

# Latex:
#----------------------
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.spl
*.synctex.gz
*.tex~


# python:
#----------------------
*.pyc
__pycache__/


# c/c++:
#----------------------
*.o


# java:
#----------------------


# pharo:
#----------------------
pharo
pharo-ui
pharo-vm
pharo-local
PharoDebug.log
*.sources
*.changes


